<h2 class="text-center">Tooltip</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Components</a>
    <span class="breadcrumb-item active">Tooltip</span>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Basic datepicker</h5>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" placement="top" ngbTooltip="Tooltip on top">
          Tooltip on top
        </button>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" placement="right"
                ngbTooltip="Tooltip on right">
          Tooltip on right
        </button>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" placement="bottom"
                ngbTooltip="Tooltip on bottom">
          Tooltip on bottom
        </button>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" placement="left" ngbTooltip="Tooltip on left">
          Tooltip on left
        </button>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Basic datepicker</h5>
        <p>
          Tooltips can contain any arbitrary HTML, Angular bindings and even directives!
          Simply enclose desired content in a <code>&lt;ng-template&gt;</code> element.
        </p>

        <ng-template #tipContent>Hello, <b>{{name}}</b>!</ng-template>
        <button type="button" class="btn btn-outline-secondary p-2" [ngbTooltip]="tipContent">
          Markup and bindings in tooltip!
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Custom and manual triggers</h5>
        <p>
          You can easily override open and close triggers by specifying event names (separated by <code>:</code>) in the <code>triggers</code> property.
        </p>

        <button type="button" class="btn btn-outline-secondary" ngbTooltip="You see, I show up on click!" triggers="click:blur">
          Click me!
        </button>

        <hr>
        <p>
          Alternatively you can take full manual control over tooltip opening / closing events.
        </p>

        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" ngbTooltip="What a great tip!" triggers="manual" #t="ngbTooltip" (click)="t.open()">
          Click me to open a tooltip
        </button>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" (click)="t.close()">
          Click me to close a tooltip
        </button>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Context and manual triggers</h5>
        <p>
          You can optionally pass in a context when manually triggering a popover.
        </p>

        <ng-template #tipContent let-greeting="greeting">{{greeting}}, <b>{{name}}</b>!</ng-template>
        <p>
          How would you like to greet <strong [ngbTooltip]="tipContent" #t2="ngbTooltip" triggers="manual">me</strong>?
        </p>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" (click)="changeGreeting({ greeting: 'Bonjour' })">
          French
        </button>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" (click)="changeGreeting({ greeting: 'Gutentag' })">
          German
        </button>
        <button type="button" class="btn btn-outline-secondary mb-3 mr-3" (click)="changeGreeting({ greeting: 'Hello' })">
          English
        </button>
      </div>
    </div>
  </div>
</div>
