#login-modal .modal-dialog {
    width: 600px;
    margin-left: 40%;
}
.btn-primary {
    background-color: #13477e !important;
    border-radius: 100px;
}
#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}
.btn-primary[_ngcontent-c4] {
    background-color: transparent!important;
   
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

.btn[_ngcontent-c4] {
    border-radius: 0px;
    color: #1d4b7c;
}
.btn-primary:hover {
    color: #fff;
    border-color: #fff;
}
.btn:hover {
    box-shadow: 0px 4px 5px -2px rgba(255, 255, 255, 0), 0px 7px 10px 1px rgb(255, 255, 255), 0px 2px 16px 1px rgba(255, 255, 255, 0.12);
}
.btn:hover, .btn:focus, .btn.focus {
    color: #1d4b7c;
    text-decoration: none;
}
.add{
    background-color: #13477e !important;
    color: white; 
    border-radius: 100px;
}
.form-control {
  border-radius: 0px;
}
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  padding: 10px 10px 10px 10px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: right;
    float: left;
}
.btn-lg[_ngcontent-c4], .btn-group-lg[_ngcontent-c4] > .btn[_ngcontent-c4] {
    border-radius: 0px;
    padding: 8px 10px 7px 13px;
    margin-top: -3px;
    border-radius: 100px;
    color: #fff;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  .ngx-gallery-icon {
    color: rgba(255, 255, 255, 0.59) !important;
}
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .login-form[_ngcontent-c4] .form-control[_ngcontent-c4] {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
  
    line-height: initial;
}
ul.pagination {
    display: flex;
    list-style: none;
    border-radius: .125rem;
    padding: 10px;
    margin: 0 10px 10px 40%!important;
    width: 100%;
}
.input1{
    margin: 0px 0px 0px 5%;
    width: 20%;
    border-radius: 0px !important;
    float: left!important;
    margin-bottom: 20px;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    /* float: right; */
    text-align: right;
    margin-right: 15px;
    margin-top: 10px;
}
.tabl{
    width: 100%;
    float: left;
}
.table{
    background: #fff;
}
.input2{
    background-color:#0867cc !important; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 100px!important;
    cursor: pointer;
    margin: 0px 0px 0px 2%;
    width: 20%;
    float: left!important;
    margin-bottom: 20px;
}
.input1 {
    background-color: #084280 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 100px!important;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .notifications2 {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1111;
    margin-left: 44%;
    margin-top: -22px;
    float: right;
    text-align: right;
    z-index: 999;
}
.notifications2 .num {
    position: absolute;
    top: 11px;
    right: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    color: #222;
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
}

.notifications1 {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1111;
    margin-left: 20%;
    margin-top: -22px;
    float: right;
    text-align: right;
    z-index: 999;
}
.notifications1 .num {
    position: absolute;
    top: 11px;
    right: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    color: #222;
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
}

.notifications3 {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1111;
    margin-left: 68%;
    margin-top: -22px;
    float: right;
    text-align: right;
    z-index: 999;
}
.notifications3 .num {
    position: absolute;
    top: 11px;
    right: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    color: #222;
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
}
  

.notifications4 {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1111;
    margin-left: 93%;
    margin-top: -22px;
    float: right;
    text-align: right;
    z-index: 999;
}
.notifications4 .num {
    position: absolute;
    top: 11px;
    right: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    color: #222;
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
}
  
  