.full > .card  {
  max-width: 100%;
  margin-top: 5px !important;
}
.dash-box-body[_ngcontent-c4] > .dash-box-count[_ngcontent-c4] {
  margin-bottom: 6%;
  height: 0px;
}
.dash-box-body[_ngcontent-c4] > .dash-box-title[_ngcontent-c4] {
  font-size: 14px;
  font-weight: 400;
}