<!-- Steps form -->
<div class="card">
  <div class="card-body mb-4">

     <form class="frms" role="form" action="" method="post" novalidate>

          <!-- First Step -->
          <div class="col-md-12">
              <div class="row">

                  <div class="form-group service-form-group col-md-5">
                    <div class="row">

                  <div class="col-md-3">
                      <label>School ID</label>
                  </div>
                  <div class="col-md-8">
                      <input required type="text" placeholder="School ID" class="form-control col-md-12" [(ngModel)]="model.schoolID" name="schoolID" pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolID="ngModel" >
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.schoolID || schoolID.errors?.pattern" style="color:red">enter valid data</p>
                  </div>

                    </div>
                  </div>
                  <div class="form-group service-form-group col-md-5">
                      <div class="row">
                      <div class="col-md-4">
                          <label>School Name</label>
                      </div>
                      <div class="col-md-8">

                      <input required type="text" placeholder="SchoolName" class="form-control col-md-12" [(ngModel)]="model.schoolName" name="schoolName"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolName="ngModel" >
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.schoolName || schoolName.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>
                </div>
                 </div>
          </div>

          <!-- Second Step -->
          <div class="col-md-12">
                  <div class="row">
                      <h3 class="font-weight-bold pl-0 my-4 col-md-10"><strong>School Address</strong></h3>
                  <div class="form-group service-form-group col-md-5">
                      <div class="row">
                      <div class="col-md-4">
                          <label>Lane / Street</label>
                      </div>
                      <div class="col-md-6">
                      <div class="form-group service-form-group">
                      <input required type="text" placeholder="Lane / Street" class="form-control col-md-12" required="" [(ngModel)]="model.schoolAddress_Lane" name="schoolAddress_Lane"   pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolAddress_Lane="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.schoolAddress_Lane  || schoolAddress_Lane.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>
                </div>
                </div>

                <div class="form-group service-form-group col-md-5">
                <div class="row">
                <div class="col-md-4">
                    <label>Area</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group service-form-group">

                        <label class="control-label sr-only" for="name"></label>
                        <input   required  type="text" placeholder="Area" class="form-control col-md-12" required="" [(ngModel)]="model.schoolAddress_Area" name="schoolAddress_Area"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolAddress_Area="ngModel">
                        <div class="form-icon"></div>
                        <p *ngIf="errorschool.schoolAddress_Area  || schoolAddress_Area.errors?.pattern" style="color:red">enter valid data</p>
                    </div>
                  </div>
                  </div>
                </div>

                <div class="form-group service-form-group col-md-5">
                <div class="row">
                  <div class="col-md-4">
                      <label> City</label>
                  </div>
                  <div class="col-md-6">

                      <label class="control-label sr-only" for="name"></label>
                      <input  required  type="text" placeholder="City" class="form-control col-md-12" required="" [(ngModel)]="model.schoolAddress_City" name="schoolAddress_City"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolAddress_City="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.schoolAddress_City  || schoolAddress_City.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>
                </div>


                <div class="form-group service-form-group col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <label>Pin Code</label>
                    </div>
                  <div class= "col-md-6">

                      <label class="control-label sr-only" for="name"></label>
                      <input  required  type="number" placeholder="Pin Code" class="form-control col-md-12" required="" [(ngModel)]="model.schoolAddress_Pincode" name="schoolAddress_Pincode"  pattern="^[0-9_-]{2,10}$" #schoolAddress_Pincode="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.schoolAddress_Pincode  || schoolAddress_Pincode.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>
                </div>

                <div class="form-group service-form-group col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <label>State</label>
                    </div>
                  <div class="col-md-6">
                      <label class="control-label sr-only" for="State"></label>
                      <input  required  type="text" placeholder="State" class="form-control col-md-12" required="" [(ngModel)]="model.schoolAddress_State" name="schoolAddress_State"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolAddress_State="ngModel">
                      <p *ngIf="errorschool.schoolAddress_State  || schoolAddress_State.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>
                </div>

                <div class="form-group service-form-group col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <label>Country</label>
                    </div>

                  <div class="col-md-6">

                      <label class="control-label sr-only" for="Country"></label>
                      <input  required  type="text" placeholder="Country" class="form-control col-md-12" required="" [(ngModel)]="model.schoolAddress_Country" name="schoolAddress_Country"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #schoolAddress_Country="ngModel">
                      <p *ngIf="errorschool.schoolAddress_Country  || schoolAddress_Country.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>
                </div>


                  <div class="col-4 col-sm-10 form-group">

                    <div class="row">
                      <div class="col-md-2">
                          <label>Primary Contact Number</label>
                      </div>

                      <div class="col-md-5">
                          <input  required id="phone" type="phone" placeholder="Primary Contact Number" class="form-control col-md-12" required="" [(ngModel)]="model.primary_Contact_Number" name="primary_Contact_Number"   pattern="^[0-9+]{2,15}$" #primary_Contact_Number="ngModel">
                          <div class="form-icon"></div>
                          <p *ngIf="errorschool.primary_Contact_Number  || primary_Contact_Number.errors?.pattern" style="color:red">enter valid data (+9190....)</p>

                      </div>

                      <div class="col-md-5">
                          <select class="form-control col-md-12" id="exampleFormControlSelect1" name="t_primary_Contact_Number_countrycode" [(ngModel)]="t_primary_Contact_Number_countrycode" >
                              <ng-container  *ngFor="let country of countrylist">
                                  <option value="{{country.dial_code}}">{{country.name}}</option>
                              </ng-container>
                          </select>
                      </div>


                      </div>
                  </div>

                  <div class="col-4 col-sm-10 form-group">
                    <div class="row">
                      <div class="col-md-2">
                          <label>Alternate Contact Number</label>

                      </div>
                        <div class="col-md-5">
                      <input id="phone"  required  type="phone" placeholder="Alternate Contact Number" class="form-control col-md-12" required="" [(ngModel)]="model.alternate_Contact_Number" name="alternate_Contact_Number"   pattern="^[0-9+]{2,15}$" #alternate_Contact_Number="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.alternate_Contact_Number  || alternate_Contact_Number.errors?.pattern" style="color:red">enter valid data</p>

                      </div>
                      <div class="col-md-5">

                      <select class="form-control col-md-12" id="exampleFormControlSelect1"  name="t_alternate_Contact_Number_countrycode" [(ngModel)]="t_alternate_Contact_Number_countrycode">
                          <ng-container  *ngFor="let country of countrylist">
                              <option value="{{country.dial_code}}">{{country.name}}</option>
                          </ng-container>
                        </select>
                        </div>
                        </div>
                  </div>

                  <div class="form-group service-form-group col-md-10">
                    <div class="row">
                      <div class="col-md-2">
                          <label>Primary Email Address</label>
                      </div>
                      <div class="col-md-10">
                        <label class="control-label sr-only" for="Email Address"></label>
                        <input  type="email" placeholder="Primary  Email Address" class="form-control col-md-12" required="" [(ngModel)]="model.primary_Email_Address" name="primary_Email_Address"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #primary_Email_Address="ngModel">
                        <div class="form-icon"></div>
                        <p *ngIf="errorschool.primary_Email_Address  || primary_Email_Address.errors?.pattern" style="color:red">enter valid data</p>
                        </div>
                       </div>
                      </div>

                  <div class="form-group service-form-group col-md-10">

                      <div class="row">
                          <div class="col-md-2">
                              <label>Alternate Email Address</label>
                          </div>
                          <div class="col-md-10">
                              <label class="control-label sr-only" for="email"></label>
                              <input  required type="email" placeholder="Alternate Email Address" class="form-control col-md-12" required="" [(ngModel)]="model.alternate_Email_Address" name="alternate_Email_Address"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #alternate_Email_Address="ngModel">
                              <div class="form-icon"></div>
                              <p *ngIf="errorschool.alternate_Email_Address  || alternate_Email_Address.errors?.pattern" style="color:red">enter valid data</p>
                            </div>
                           </div>


                </div>



              </div>
          </div>

          <!-- Third Step -->
          <div class="col-md-12">
              <div class="row">
                  <h3 class="font-weight-bold pl-0 my-4 col-md-10"><strong>Primary Contact Person</strong></h3>


                  <div class="row">
                      <div class="col-md-3">
                          <label> Full Name</label>
                      </div>
                  <div class="col-md-10">

                      <label class="control-label sr-only" for="name"></label>
                      <input  required  type="text" placeholder="Full Name" class="form-control col-md-8" required=""  [(ngModel)]="model.primary_Contact_Person_Name" name="primary_Contact_Person_Name"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #primary_Contact_Person_Name="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.primary_Contact_Person_Name  || primary_Contact_Person_Name.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
                </div>

                  <div class="form-group service-form-group col-md-10">

                      <label class="control-label sr-only" for="phone"></label>
                      <input  type="text" placeholder=" Contact Number" class="form-control col-md-5" required="" [(ngModel)]="model.primary_Contact_Person_contact_number" name="primary_Contact_Person_contact_number"  pattern="^[0-9+]{2,15}$" #primary_Contact_Person_contact_number="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.primary_Contact_Person_contact_number  || primary_Contact_Person_contact_number.errors?.pattern" style="color:red">enter valid data</p>
                      <label> Contact Number</label>
                      <select class="form-control col-md-3" id="exampleFormControlSelect1" name="t_primary_Contact_Person_contact_number_countrycode" [(ngModel)]="t_primary_Contact_Person_contact_number_countrycode">
                          <ng-container  *ngFor="let country of countrylist">
                              <option value="{{country.dial_code}}">{{country.name}}</option>
                          </ng-container>
                        </select>

                    </div>

                  <div class="form-group service-form-group col-md-10">

                      <label class="control-label sr-only" for="phone"></label>
                      <input  type="text" placeholder=" Mobile Number" class="form-control col-md-5" required="" [(ngModel)]="model.primary_Contact_Person_mobile_number" name="primary_Contact_Person_mobile_number"  pattern="^[0-9+]{2,15}$" #primary_Contact_Person_mobile_number="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.primary_Contact_Person_mobile_number  || primary_Contact_Person_mobile_number.errors?.pattern" style="color:red">enter valid data</p>
                      <label>Mobile Number</label>

                      <select class="form-control col-md-3" id="exampleFormControlSelect1"  name="t_primary_Contact_Person_mobile_number_countrycode" [(ngModel)]="t_primary_Contact_Person_mobile_number_countrycode">
                          <ng-container  *ngFor="let country of countrylist">
                              <option value="{{country.dial_code}}">{{country.name}}</option>
                          </ng-container>
                        </select>

                    </div>

                  <div class="form-group service-form-group col-md-10">
                          <label>Alternate Email Address</label>
                      <label class="control-label sr-only" for="Email Address"></label>
                      <input  type="email" placeholder="Alternate Email Address" class="form-control col-md-8" required="" [(ngModel)]="model.primary_Contact_Person_email_address" name="primary_Contact_Person_email_address"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #primary_Contact_Person_email_address="ngModel">
                      <div class="form-icon"></div>
                      <p *ngIf="errorschool.primary_Contact_Person_email_address  || primary_Contact_Person_email_address.errors?.pattern" style="color:red">enter valid data</p>
                  </div>
              </div>
          </div>

           <!-- fourth Step -->
           <div class="col-md-12">
                  <div class="row">
                      <h3 class="font-weight-bold pl-0 my-4 col-md-10"><strong>Alternate Contact Person</strong></h3>

                      <div class="form-group service-form-group col-md-10">
                              <label> Full Name</label>
                          <label class="control-label sr-only" for="name"></label>
                          <input  type="text" placeholder="Full Name" class="form-control col-md-8" required="" [(ngModel)]="model.alternate_Contact_Person_Name" name="alternate_Contact_Person_Name"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" #alternate_Contact_Person_Name="ngModel">
                          <div class="form-icon"></div>
                          <p *ngIf="errorschool.alternate_Contact_Person_Name  || alternate_Contact_Person_Name.errors?.pattern" style="color:red">enter valid data</p>
                      </div>

                      <div class="form-group service-form-group col-md-10">

                          <label class="control-label sr-only" for="phone"></label>
                          <input  type="text" placeholder=" Contact Number" class="form-control col-md-5" required="" [(ngModel)]="model.alternate_Contact_Person_contact_number" name="alternate_Contact_Person_contact_number"  pattern="^[0-9+]{2,15}$" #alternate_Contact_Person_contact_number="ngModel">
                          <div class="form-icon"></div>
                          <p *ngIf="errorschool.alternate_Contact_Person_contact_number  || alternate_Contact_Person_contact_number.errors?.pattern" style="color:red">enter valid data</p>

                          <label> Contact Number</label>
                          <select class="form-control col-md-3" id="exampleFormControlSelect1"   name="t_alternate_Contact_Person_contact_number_countrycode" [(ngModel)]="t_alternate_Contact_Person_contact_number_countrycode">
                              <ng-container  *ngFor="let country of countrylist">
                                  <option value="{{country.dial_code}}">{{country.name}}</option>
                              </ng-container>
                            </select>


                        </div>

                      <div class="form-group service-form-group col-md-10">

                          <label class="control-label sr-only" for="phone"></label>
                          <input  type="text" placeholder=" Mobile Number" class="form-control col-md-5" required="" [(ngModel)]="model.alternate_Contact_Person_mobile_number" name="alternate_Contact_Person_mobile_number"  pattern="^[0-9+]{2,15}$" #alternate_Contact_Person_mobile_number="ngModel">
                          <div class="form-icon"></div>
                          <p *ngIf="errorschool.alternate_Contact_Person_mobile_number  || alternate_Contact_Person_mobile_number.errors?.pattern" style="color:red">enter valid data</p>
                          <label>Mobile Number</label>
                          <select class="form-control col-md-3" id="exampleFormControlSelect1"   name="t_alternate_Contact_Person_mobile_number_countrycode" [(ngModel)]="t_alternate_Contact_Person_mobile_number_countrycode">
                              <ng-container  *ngFor="let country of countrylist">
                                  <option value="{{country.dial_code}}">{{country.name}}</option>
                              </ng-container>
                            </select>

                        </div>

                      <div class="form-group service-form-group col-md-10">
                              <label>Alternate Email Address</label>
                          <label class="control-label sr-only" for="Email Address"></label>
                          <input  type="email" placeholder="Alternate Email Address" class="form-control col-md-8" required="" [(ngModel)]="model.alternate_Contact_Person_email_address" name="alternate_Contact_Person_email_address"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #alternate_Contact_Person_email_address="ngModel">
                          <div class="form-icon"></div>
                          <p *ngIf="errorschool.alternate_Contact_Person_email_address  || alternate_Contact_Person_email_address.errors?.pattern" style="color:red">enter valid data</p>
                      </div><br>
                      <div *ngIf="alternate_Contact_Person_email_address.errors?.pattern ||
                      alternate_Contact_Person_mobile_number.errors?.pattern ||
                      alternate_Contact_Person_contact_number.errors?.pattern ||
                      alternate_Contact_Person_Name.errors?.pattern ||
                      primary_Contact_Person_email_address.errors?.pattern ||
                      primary_Contact_Person_mobile_number.errors?.pattern ||
                      primary_Contact_Person_contact_number.errors?.pattern ||
                      primary_Contact_Person_Name.errors?.pattern ||
                      alternate_Email_Address.errors?.pattern ||
                      primary_Email_Address.errors?.pattern ||
                      alternate_Contact_Number.errors?.pattern ||
                      primary_Contact_Number.errors?.pattern ||
                      schoolAddress_Country.errors?.pattern ||
                      schoolAddress_State.errors?.pattern ||
                      schoolAddress_Pincode.errors?.pattern ||
                      schoolAddress_City.errors?.pattern ||
                      schoolAddress_Area.errors?.pattern ||
                      schoolAddress_Lane.errors?.pattern ||
                      schoolName.errors?.pattern ||
                      schoolID.errors?.pattern
                      ;then content else other_content">here is ignored</div>





<ng-template #content>
    <div class="col-md-12">
    <button class="btn px-gdn-btn btn-rounded float-left" type="submit" >Enter Valid data to submit</button>
    </div>
</ng-template>
<ng-template #other_content>
    <div class="col-md-12">
  <button class="btn px-gdn-btn btn-rounded float-left" type="submit"  (click) = 'check()' >Submit</button>
</div>
</ng-template>

                  </div>
              </div>

      </form>

  </div>
</div>
<!-- Steps form -->
