<h2 class="text-center">Lists Page</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Layout</a>
    <span class="breadcrumb-item active">Lists</span>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-lg-6 col-xl-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-4">Posts</h5>
        <ul class="list-unstyled mb-0">
          <li class="media mb-4">
            <img class="d-flex mr-3 mr-sm-4" src="/assets/images/lists/type1-img-1.jpg">
            <div class="media-body">
              <div class="d-flex flex-wrap justify-content-between mb-2">
                <small>Travel</small>
                <small class="text-primary">31.10.2018</small>
              </div>
              <div class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eius facere
                minima neque odit
                repudiandae tempore.
              </div>
            </div>
          </li>
          <li class="media mb-4">
            <img class="d-flex mr-3 mr-sm-4" src="/assets/images/lists/type1-img-2.jpg">
            <div class="media-body">
              <div class="d-flex flex-wrap justify-content-between mb-2">
                <small>Building</small>
                <small class="text-primary">31.10.2018</small>
              </div>
              <div class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur ea
                est iusto optio quia quidem tempora, voluptas.
              </div>
            </div>
          </li>
          <li class="media">
            <img class="d-flex mr-3 mr-sm-4" src="/assets/images/lists/type1-img-3.jpg">
            <div class="media-body">
              <div class="d-flex flex-wrap justify-content-between mb-2">
                <small>Office</small>
                <small class="text-primary">31.10.2018</small>
              </div>
              <div class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi exercitationem labore nostrum provident! Ea provident repellat similique!</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary mb-4">Team</h5>
        <ul class="list-unstyled mb-0">
          <li class="media mb-4">
            <img class="d-flex mr-4" src="/assets/images/lists/type2-img-1.png">
            <div class="media-body">
              <div class="d-flex justify-content-between">
                <span>Elaine Veit</span>
                <small>5 mins ago</small>
              </div>
              <div>
                <small>Tech Lead, <span class="text-primary">LotSupport</span></small>
              </div>
              <div>
                <i class="icon-location-pin"></i>
                <small>New Yourk, USA</small>
              </div>
            </div>
          </li>
          <li class="media mb-4">
            <img class="d-flex mr-4" src="/assets/images/lists/type2-img-2.png">
            <div class="media-body">
              <div class="d-flex justify-content-between">
                <span>John Roberts</span>
                <small class="text-primary">Online</small>
              </div>
              <div>
                <small>Developer, <span class="text-primary">LotBank</span></small>
              </div>
              <div>
                <i class="icon-location-pin"></i>
                <small>Canberra, Australia</small>
              </div>
            </div>
          </li>
          <li class="media">
            <img class="d-flex mr-4" src="/assets/images/lists/type2-img-3.png">
            <div class="media-body">
              <div class="d-flex justify-content-between">
                <span>Nancy Coleman</span>
                <small>1 hour ago</small>
              </div>
              <div>
                <small>Team Lead,<span class="text-primary">LotBank</span></small>
              </div>
              <div>
                <i class="icon-location-pin"></i>
                <small>London, UK</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title text-primary mb-4">Projects</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <div class="media mb-3">
              <div class="list-abbr mr-3">LB</div>
              <div class="media-body">
                <h5 class="mb-1">LotBank</h5>
                <div>Senior Designer</div>
              </div>
            </div>
            <div class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut et facere, laudantium quos ratione!
              Hic inventore minima, necessitatibus obcaecati sunt voluptatum. Aut deserunt numquam, quae quibusdam
              reprehenderit vel vitae!
            </div>
          </li>
          <div class="dropdown-divider my-4"></div>
          <li>
            <div class="media mb-3">
              <div class="list-abbr mr-3">LR</div>
              <div class="media-body">
                <h5 class="mb-1">LotRun</h5>
                <div>Junior Designer</div>
              </div>
            </div>
            <div class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, consequuntur ex facilis laboriosam odio
              odit possimus repellendus ullam unde voluptas.
            </div>
          </li>
          <div class="dropdown-divider my-4"></div>
          <li>
            <div class="media mb-3">
              <div class="list-abbr mr-3">LS</div>
              <div class="media-body">
                <h5 class="mb-1">LotSupport</h5>
                <div>Designer</div>
              </div>
            </div>
            <div class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis facere quas ut veritatis.
              Autem delectus nostrum repellendus? Nostrum sapiente, veritatis. A culpa, dolore ducimus ea esse et fuga
              laboriosam magni nobis quas quia ratione reiciendis vel voluptatibus voluptatum. A debitis dolorum enim
              esse explicabo fugit inventore iure numquam, quae quidem! Accusantium commodi cumque earum fugit placeat
              quas quidem quod?
            </div>
          </li>
          <div class="dropdown-divider my-4"></div>
          <li>
            <div class="media mb-3">
              <div class="list-abbr mr-3">LS</div>
              <div class="media-body">
                <h5 class="mb-1">LotSupport</h5>
                <div>Designer</div>
              </div>
            </div>
            <div class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis facere quas ut veritatis.
              Autem delectus nostrum repellendus? Nostrum sapiente, veritatis. A culpa, dolore ducimus ea esse et fuga
              laboriosam magni nobis quas quia ratione reiciendis vel voluptatibus voluptatum. A debitis dolorum enim
              esse explicabo fugit inventore iure numquam, quae quidem! Accusantium commodi cumque earum fugit placeat
              quas quidem quod?
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-3">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-3">Products</h5>
        <div class="dropdown-divider mb-3"></div>
        <ul class="list-unstyled mb-0">
          <li class="media mb-4">
            <img class="d-flex mr-4" src="/assets/images/lists/type3-img-1.jpg">
            <div class="media-body pt-2">
              <div class="mb-2">MODERN blue chair</div>
              <div class="mb-2">Product ID: CM125LO</div>
              <div>$ 450.00</div>
            </div>
          </li>
          <li class="media">
            <img class="d-flex mr-4" src="/assets/images/lists/type3-img-2.jpg">
            <div class="media-body pt-2">
              <div class="mb-2">Antique grey clock</div>
              <div class="mb-2">Product ID: CG125AM</div>
              <div>$ 209.90</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-4">Address</h5>
        <ul class="list-unstyled mb-0">
          <li class="media mb-4">
            <div class="d-flex mr-4">
              <i class="icon-location-pin h1 text-primary"></i>
            </div>
            <div class="media-body">
              <div>97 Oxford St, Manchester</div>
              <div>United Kingdom</div>
            </div>
          </li>
          <li class="media mb-4">
            <div class="d-flex mr-4">
              <i class="icon-phone h1 text-primary"></i>
            </div>
            <div class="media-body">
              <div>700 700 124</div>
              <div>Mon - Fri   9.00 - 19.00</div>
            </div>
          </li>
          <li class="media">
            <div class="d-flex mr-4">
              <i class="icon-envelope h1 text-primary"></i>
            </div>
            <div class="media-body">
              <div class="mt-2">info@sofu.com</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-4">Address</h5>
        <ul class="list-unstyled mb-0">
          <li class="media mb-3 align-items-center">
            <div class="d-flex mr-2">
              <i class="icon-envelope h6 text-primary m-0"></i>
            </div>
            <div class="media-body">
              <a href="mailto:ElaineVeit@gmail.com" class="color-inherit">ElaineVeit@gmail.com</a>
            </div>
          </li>
          <li class="media mb-3 align-items-center">
            <div class="d-flex mr-2">
              <i class="icon-location-pin h6 text-primary m-0"></i>
            </div>
            <div class="media-body">
              33 Green Street, New York
            </div>
          </li>
          <li class="media mb-3 align-items-center">
            <div class="d-flex mr-2">
              <i class="icon-phone h6 text-primary m-0"></i>
            </div>
            <div class="media-body">
              +1 222-333-4444
            </div>
          </li>
          <li class="media align-items-center">
            <div class="d-flex mr-2">
              <i class="icon-social-facebook h6 text-primary m-0"></i>
            </div>
            <div class="media-body">
              <a href="/" class="color-inherit">Facebook.com/ElaineVeit</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


