<h2 class="text-center">Rating</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Components</a>
    <span class="breadcrumb-item active">Rating</span>
  </nav>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Basic demo</h5>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <hr>
        <pre>Rate: <b>{{currentRate}}</b></pre>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Custom star template</h5>
        <div class="custom-star">
          <p>Custom rating template provided as child element</p>
          <div>
            <ngb-rating [(rate)]="customRate">
              <ng-template let-fill="fill">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
          <div>
            <ngb-rating [(rate)]="customRate">
              <ng-template let-fill="fill">
        <span class="h4">
          <i class="fa text-primary" [class.fa-star]="fill === 100" [class.fa-star-o]="fill !== 100"></i>
        </span>
              </ng-template>
            </ngb-rating>
          </div>

          <hr>
          <pre>Rate: <b>{{customRate}}</b></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Events and readonly ratings</h5>
        <div>
          <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0"
                      [readonly]="readonly"></ngb-rating>
          <hr>
          <pre>Selected: <b>{{selected}}</b> <br>Hovered: <b>{{hovered}}</b></pre>
          <button class="btn btn-sm btn-outline-{{readonly ? 'danger' : 'success'}}" (click)="readonly = !readonly">
            {{ readonly ? "readonly" : "editable"}}
          </button>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Custom decimal rating</h5>
        <div class="custom-decimal">
          <p>Custom rating template provided via a variable. Shows fine-grained rating display</p>

          <ng-template #t let-fill="fill">
            <span *ngIf="fill === 100" class="star full">&hearts;</span>
            <span *ngIf="fill === 0" class="star">&hearts;</span>
            <span *ngIf="fill < 100 && fill > 0" class="star">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
          </ng-template>

          <ngb-rating [(rate)]="decimalRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

          <hr>
          <pre>Rate: <b>{{decimalRate}}</b></pre>
          <button class="btn btn-sm btn-outline-primary" (click)="decimalRate = 1.35">1.35</button>
          <button class="btn btn-sm btn-outline-primary" (click)="decimalRate = 4.72">4.72</button>
        </div>
      </div>
    </div>
  </div>
</div>
