<h2 class="text-center">Bar charts</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Charts</a>
    <span class="breadcrumb-item active">Bar charts</span>
  </nav>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Animated</h5>
    <div #animatedBarChart class="animated-bar-chart"></div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Simple</h5>
        <div #simpleBarChart class="simple-bar-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Horizontal</h5>
        <div #horizontalBarChart class="horizontal-bar-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Grouped</h5>
        <div #groupBarChart class="group-bar-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Trend</h5>
        <div #trendBarChart class="trend-bar-chart"></div>
      </div>
    </div>
  </div>
</div>


