<div class="content text-center">
  <div class="title">We'll be back soon!</div>
  <div class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et
    dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  </div>
  <div class="mt-5">Type your email to subscribe</div>
  <div class="input-group mt-3">
    <input type="email" class="form-control" placeholder="Email address">
    <span class="input-group-btn">
        <button class="btn px-gdn-btn px-gdn-btn-icon px-4" type="button">
          <i class="material-icons">send</i>
        </button>
      </span>
  </div>
</div>
<img src="/assets/images/user-pages/maintenance-img.png" alt="">
<footer>
  <div class="mb-3 d-flex justify-content-center">
    <a class="mx-2 no-underline" href=""><i class="icon-social-facebook circle-hover px-gdn-icon "></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-pinterest circle-hover px-gdn-icon"></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-twitter circle-hover px-gdn-icon"></i></a>
  </div>
  <div class="text-light text-nowrap">2017 <a class="text-light" routerLink="/">SOFU</a> all rights reserved</div>
</footer>
