<h2 class="text-center">Pricing Page</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">E-commerce</a>
    <span class="breadcrumb-item active">Pricing Page</span>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-4 px-0 px-sm-4 mb-5" *ngFor="let item of pricingItems">
      <div class="card primary-border shadow-hover bg-transparent pt-4 px-4">
        <div class="card-body text-center py-5 px-0 px-sm-5">
          <h2 class="card-title font-weight-bold text-primary mb-5">{{item.name}}</h2>
          <div class="dropdown-divider border-primary mb-4"></div>
          <div class="mb-4">
            <span class="h2 font-weight-bold">{{item.price}} $</span>
            <span class="h5">/month</span>
          </div>
          <div class="dropdown-divider border-primary mb-4"></div>
          <div class="mb-4">
            <div class="mb-3" *ngFor="let feature of item.features">{{feature}}</div>
          </div>
          <button type="button" class="btn btn-lg px-gdn-btn-outline card-bg">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="mb-3 d-flex justify-content-center">
    <a class="mx-2 no-underline" href=""><i class="icon-social-facebook px-gdn-icon"></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-pinterest px-gdn-icon"></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-twitter px-gdn-icon"></i></a>
  </div>
  <div class="text-nowrap text-center">2017 <a routerLink="/">SOFU</a> all rights reserved</div>
</footer>
