app-product-details-page {
  .gallery {
    background-color: #f7f8fc;
    .ngx-gallery-icon {
     font-size: 30px;
    }
  }
  .new-label {
    position: absolute;
    right: 25px;
    top: 0;
    background-color: #ffffff;
  }
}
