<div class="card mx-auto login">
  <div class="card-body">

    <h2 class="card-title text-center mb-5">  <img src="assets/images/cynosure.png"></h2>
    <form>
      <div class="form-group ">
        <label for="password">Old Password</label>
        <input #uname  type="password" class="form-control col-md-8" id="password" required>
      </div>
      <div class="form-group">
        <label for="passwords">New Password</label>
        <input #pass type="password" class="form-control col-md-8" id="passwords">
      </div>

      <div class="form-group">
          <label for="passwords">Confirm Password</label>
          <input #pass1 type="password" class="form-control col-md-8" id="passwords">
      </div>

      <div class="mt-5 text-center">
        <button onclick="myFunction()" type="button" class="btn  btn btn-primary px-gdn-btn mb-3 mr-3"   style="    padding: 10px;
        width: 100%;
        margin-top: 2pc;" >Submit</button>


      </div>
      <!-- <button onclick="myFunction()">Try it</button> -->


      <div class="alert alert-danger" id="passwordsNoMatchRegister" style="display:none;">
          <strong>Error!</strong> Looks like the passwords you entered don't match!
        </div>
      <!-- <div class="text-center">Don’t have an account? <a routerLink="/register">Sign up</a></div> -->

    </form>

  </div>
</div>
<div class="text-nowrap footer">
  2018 <a routerLink="/">Cynosure</a> all rights reserved
</div>
<!-- <img src="/assets/images/user-pages/login-img.png"> -->
