<h2 class="text-center">Product Page</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Products</a>
    <span class="breadcrumb-item active">Furniture & Decoration</span>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let product of products">
    <div class="card">
      <div class="img-wrap">
        <img class="card-img-top mx-auto d-block" src="{{product.image}}">
        <div class="overlay d-flex justify-content-center align-items-center">
          <a class="no-underline mr-4" routerLink="/">
            <i class="material-icons circle-hover">add_shopping_cart</i>
          </a>
          <a class="no-underline" routerLink="/">
            <i class="material-icons circle-hover">favorite</i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div>{{product.title}}</div>
        <div class="h5 mt-2">
          <span><s>{{product.oldPrice}}</s></span>
          <span class="text-primary">{{product.price}}</span>
        </div>
      </div>
      <div class="new-label text-primary px-3 py-1" *ngIf="product.isNew">NEW</div>
    </div>
  </div>
</div>
