<h2 class="text-center">Dropdown</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Components</a>
    <span class="breadcrumb-item active">Dropdown</span>
  </nav>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Dropdown</h5>
        <div ngbDropdown class="d-inline-block mb-3">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
        <div ngbDropdown placement="top-right" class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Button groups and split buttons</h5>
        <p>Bootstrap split buttons and dropdowns on button groups are supported with the existing dropdown
          directives.</p>
        <div class="btn-group mb-3" ngbDropdown>
          <button type="button" class="btn btn-outline-success px-2">Plain ol' button</button>
          <button class="btn btn-outline-primary px-2" ngbDropdownToggle>Drop me</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item">One</button>
            <button class="dropdown-item">Two</button>
            <button class="dropdown-item">Four!</button>
          </div>
        </div>
        <div class="btn-group mb-3" ngbDropdown>
          <button type="button" class="btn btn-primary">Split me</button>
          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item">One</button>
            <button class="dropdown-item">Two</button>
            <button class="dropdown-item">Four!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Grow animation</h5>
        <div class="ml-2 text-center">
          <div ngbDropdown class="dropdown-no-toggle dropdown-grow d-inline-block" placement="top-left">
            <i class="material-icons" ngbDropdownToggle>keyboard_arrow_up</i>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
          <div ngbDropdown class="dropdown-no-toggle dropdown-grow d-inline-block" placement="top">
            <i class="material-icons" ngbDropdownToggle>keyboard_arrow_up</i>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
          <div ngbDropdown class="dropdown-no-toggle dropdown-grow d-inline-block" placement="top-right">
            <i class="material-icons" ngbDropdownToggle>keyboard_arrow_up</i>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <div>
            <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="left-top">
              <i class="material-icons" ngbDropdownToggle>keyboard_arrow_left</i>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
            <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="left">
              <i class="material-icons" ngbDropdownToggle>keyboard_arrow_left</i>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
            <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="left-bottom">
              <i class="material-icons" ngbDropdownToggle>keyboard_arrow_left</i>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
          </div>
          <div>
            <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="right-top">
              <i class="material-icons" ngbDropdownToggle>keyboard_arrow_right</i>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
            <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="right">
              <i class="material-icons" ngbDropdownToggle>keyboard_arrow_right</i>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
            <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="right-bottom">
              <i class="material-icons" ngbDropdownToggle>keyboard_arrow_right</i>
              <div ngbDropdownMenu>
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-2 text-center">
          <div ngbDropdown class="dropdown-no-toggle dropdown-grow d-inline-block" placement="bottom-left">
            <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
          <div ngbDropdown class="dropdown-no-toggle dropdown-grow d-inline-block" placement="bottom">
            <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
          <div ngbDropdown class="dropdown-no-toggle dropdown-grow d-inline-block" placement="bottom-right">
            <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Manual triggers</h5>
        <p>You can easily control dropdowns programmatically using the exported dropdown instance.</p>
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn btn-outline-primary mb-3" id="dropdownManual" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>

          <button class="btn btn-outline-success mb-3" (click)="$event.stopPropagation(); myDrop.open();">Open from outside
          </button>
          <button class="btn btn-outline-danger mb-3" (click)="$event.stopPropagation(); myDrop.close();">Close from outside
          </button>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Dropdown with icon</h5>
        <div ngbDropdown class="dropdown-no-toggle mb-4">
          <i class="material-icons" ngbDropdownToggle>more_vert</i>
          <div ngbDropdownMenu>
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
        <div class="mb-2">Bounce animation</div>
        <div ngbDropdown class="dropdown-no-toggle dropdown-bounce">
          <i class="material-icons" ngbDropdownToggle>more_vert</i>
          <div ngbDropdownMenu>
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
