<h2 class="text-center">Data Maps</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Maps</a>
    <span class="breadcrumb-item active">Data Maps</span>
  </nav>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Basic</h5>
    <div class="map" #basicMap></div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">State labels</h5>
    <div class="map" #stateMap></div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Zoom and bubbles</h5>
    <div class="map" #bubblesMap></div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Arcs</h5>
    <div class="map" #arcsMap></div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Projections & Graticules</h5>
    <div class="map" #projectionMap></div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Custom point plugin</h5>
    <div class="map" #customMap></div>
  </div>
</div>
