<h2 class="text-center">Line charts</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Charts</a>
    <span class="breadcrumb-item active">Line charts</span>
  </nav>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div #gradientAreaChart class="gradient-area-chart"></div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">With points</h5>
        <div #pointsLineChart class="points-line-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Simple</h5>
        <div #simpleLineChart class="simple-line-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Trend</h5>
        <div #trendLineChart class="trend-line-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Horizontal</h5>
        <div #multiAxisLineChart class="multi-axis-line-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Area</h5>
        <div #areaChart class="area-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stacked area</h5>
        <div #stackedAreaChart class="stacked-area-chart"></div>
      </div>
    </div>
  </div>
</div>

