

  <div class="col-12">
    <div class="row">

      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body1">
            <div class="dash-box dash-box-color-1">
              <div class="dash-box-icon">
                  <i class="material-icons"  style="font-size:36px">
                      person
                      </i>
              </div>
              <div class="dash-box-body">
                  <span class="dash-box-title">&nbsp;</span>
                <span class="dash-box-count">Number of Security</span><br>
                <span class="dash-box-title">23</span>
              </div>
              
              <a href="/main/viewemployee"> <div class="dash-box-action">
                <!-- <button type="button" class="btn btn-info mb-3 ">More Info</button> -->
              </div></a>				
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body2">
            <div class="dash-box dash-box-color-2">
              <div class="dash-box-icon">
                  <i class="material-icons"  style="font-size:36px">
                      comment
                      </i>
              </div>
              <div class="dash-box-body">
                  <span class="dash-box-title">&nbsp;</span>
                <span class="dash-box-count">Reports</span><br>
                <span class="dash-box-title">100</span>
              </div>
              <a href="/main/clientmanagement">
              <div class="dash-box-action">
              <!-- <button type="button" class="btn btn-info mb-3 ">More Info</button> -->
              </div></a>				
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body3">
            <div class="dash-box dash-box-color-2">
              <div class="dash-box-icon">
                  <i class="material-icons"  style="font-size:36px">
                      list_alt
                      </i>
              </div>
              <div class="dash-box-body">
                  <span class="dash-box-title">&nbsp;</span>
                <span class="dash-box-count">History</span><br>
                <span class="dash-box-title">34</span>
              </div>
              <a href="/main/issues">
              <div class="dash-box-action">
              <!-- <button type="button" class="btn btn-info mb-3 ">More Info</button> -->
              </div></a>				
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body4">
            <div class="dash-box dash-box-color-2">
              <div class="dash-box-icon">
                  <i class="material-icons"  style="font-size:36px">
                      notifications
                      </i>
              </div>
              <div class="dash-box-body">
                  <span class="dash-box-title">&nbsp;</span>
                <span class="dash-box-count">Alert</span><br>
                <span class="dash-box-title">2</span>
              </div>
              <a href="/main/clientissues">
              <div class="dash-box-action">
              
              </div></a>				
            </div>
          </div>
        </div>
      </div>
      </div>
            </div>
  
     


<br>
<div class="row" style="background: #fff;">
  <div class="col-12">
    <div class="full">
    <div class="card">

<div class="tabl">
        <table class="table table-striped" width = "100%">
          <thead>
          <tr>
            <th scope="col" >Security ID</th>
            <th scope="col" >Security Name</th>
            <th scope="col" >Shift Type</th>
            <th scope="col" >Date</th>
            <th scope="col" >Signin Time</th>
            <th scope="col" >Signout Time</th>
            <th scope="col" >Number of hrs worked</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>SE-01</td>
            <td>Sundar</td>
            <td>Day</td>
            <td>22/09/2108</td>
            <td>04:34:P.M</td>
            <td>04:34:A.M</td>
            <td>12</td>
          </tr>
          <tr>
              <td>SE-01</td>
              <td>parthipan</td>
              <td>Day</td>
              <td>22/09/2108</td>
              <td>04:30:P.M</td>
              <td>02:30:A.M</td>
              <td>10</td>
            </tr>
            <tr>
                <td>SE-09</td>
                <td>tamil</td>
                <td>Day</td>
                <td>22/09/2108</td>
                <td>05:38:P.M</td>
                <td>04:38:A.M</td>
                <td>9</td>
              </tr>
              <tr>
                  <td>SE-08</td>
                  <td>mohammed</td>
                  <td>Day</td>
                  <td>22/09/2108</td>
                  <td>04:34:P.M</td>
                  <td>04:34:A.M</td>
                  <td>12</td>
                </tr>
                <tr>
                    <td>SE-21</td>
                    <td>pangu</td>
                    <td>Day</td>
                    <td>22/09/2108</td>
                    <td>04:34:P.M</td>
                    <td>04:34:A.M</td>
                    <td>12</td>
                  </tr>
                  <tr>
                      <td>SE-451</td>
                      <td>murugan</td>
                      <td>Day</td>
                      <td>22/09/2108</td>
                      <td>09:34:P.M</td>
                      <td>04:34:A.M</td>
                      <td>7</td>
                    </tr>
          </tbody>
        </table>
        </div>

    </div>
    </div>
</div></div>


<!-- <h2 class="text-center">Grid table</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Extra</a>
    <span class="breadcrumb-item active">Grid table</span>
  </nav>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">10k rows</h5>
    <ngx-datatable
      class="material"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="50"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [rows]="rows">
      <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column>
      <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column name="City" [width]="300" prop="address.city"></ngx-datatable-column>
      <ngx-datatable-column name="State" [width]="300" prop="address.state"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Search</h5>
    <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'
    />
    <ngx-datatable
      #table
      class='material'
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [rows]='filterRows'>
    </ngx-datatable>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Multiselect</h5>
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [columns]="columns"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="5"
      [selected]="selected"
      [selectionType]="'multiClick'"
      (select)='onSelect($event)'>
    </ngx-datatable>
  </div>
</div>

 -->
