<div class="service-form col-md-12">

    <div class="row">
      <div class="header">

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <h3 class="adsc"> <i class="fa fa-university"></i>  &nbsp;View School Users</h3></div>

                  <div class="col-12 col-md-6 mb-3">
                     <!-- <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add school</button> -->
                </div>
              </div>

        <br></div><br>

        <div class="col">

          <div class="col-md-12">
            <div class="row">
              <div class="tabl" >



                  <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                      <thead>
                          <tr>
                              <th>School Id</th>
                              <th>School Name</th>
                              <th>User Name</th>
                              <th>User Mobile</th>
                              <th>User Email</th>
                              <th>Delete</th>
                          </tr>
                      </thead>
                      <tbody>
                                  <ng-container  *ngFor="let data of pagedata">
                                  <tr colspan="6">
                                      <td>{{data.school.schoolID}}</td>
                                      <td id="l1">{{data.school.schoolName}}</td>
                                      <td id="m1">{{data.users.first_name}} {{data.users.middle_name}} {{data.users.last_name}}</td>
                                      <td id="pc1">{{data.users.mobile_number}}</td>
                                      <td id="pc1">{{data.users.email_address}}</td>

                                     <!-- <td> <button class="accordion-toggle delete btn mat-button-wrapper btn-sm" data-toggle="collapse" href="#country1"><i _ngcontent-c6="" class="material-icons m-1 ng-star-inserted">visibility</i></button></td>
                                      <td><button type="button" data-toggle="modal"  data-uid="1" class="update btn btn-primary btn-sm"  (click)="edit($event, data)"><i _ngcontent-c6="" class="material-icons m-1 ng-star-inserted">create</i></button></td> -->
                                      <td><button type="button" data-toggle="modal" data-target="#delete" data-uid="1" class="delete btn btn-danger btn-sm"  (click)="open($event, data)" ><i _ngcontent-c4="" _ngcontent-c6="" class="m-1 icon-close"></i></button></td>
                                  </tr>

                                  </ng-container>

                      </tbody>
                  </table>
                  <div *ngIf="loading" ><div class="loader text-center"></div></div>
                  <div class="card-footer p-0">
                    <ngb-pagination [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                          </div>

            </div>
            </div>
          </div>
          </div>
  </div>
</div>


<div id="delete" class="modal modal3 fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
                <h4 class="modal-title">Delete Data</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>

        </div>
        <div class="modal-body">
          <strong>Are you sure you want to delete  {{delid.school.schoolID}} -- {{delid.school.schoolName}} ?</strong>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" id="del" class="btn btn-danger" data-dismiss="modal" (click) = "deleteschol()">Delete</button>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="deleteLoading" id="snackbar" class="show">Deleting... Pleaser Wait!</div>






