<h2 class="text-center">Cart Page</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">E-commerce</a>
    <span class="breadcrumb-item active">Cart</span>
  </nav>
</div>
<div class="container">
  <div class="stepper">
    <div class="selected circle" data-tittle="Shopping bag"></div>
    <div class="divider"></div>
    <div class="circle" data-tittle="Shipping"></div>
    <div class="divider"></div>
    <div class="circle" data-tittle="Payment"></div>
  </div>
  <div class="row mb-3">
    <div class="col-2 col-lg-1 d-none d-sm-block text-truncate">Products</div>
    <div class="col-4 col-lg-7 text-truncate">Description</div>
    <div class="col-4 col-sm-2 text-truncate">Quantity</div>
    <div class="col-2 col-lg-1 text-truncate">Price</div>
    <div class="col-2 col-lg-1 text-right text-truncate">Remove</div>
  </div>
  <div class="dropdown-divider mb-3"></div>
  <div class="row mb-3 align-items-center" *ngFor="let item of products">
    <div class="col-2 col-lg-1 d-none d-sm-block product-img">
      <img src="{{item.image}}">
    </div>
    <div class="col-4 col-lg-7">
      <div>{{item.name}}</div>
      <div>Product ID: {{item.id}}</div>
      <div>$ {{item.price}}</div>
    </div>
    <div class="col-4 col-sm-2 quantity">
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="item.quantity">
      </div>
    </div>
    <div class="col-2 col-lg-1 text-nowrap">$ {{item.price * item.quantity}}</div>
    <div class="col-2 col-lg-1 text-right">
      <i class="material-icons clickable" (click)="products.splice(products.indexOf(item), 1)">close</i>
    </div>
  </div>
  <div class="dropdown-divider mb-3"></div>
  <div class="row justify-content-center justify-content-md-end align-items-center coupon mb-3">
    <div class="mx-4 my-2">Do you have a coupon?</div>
    <div class="form-group mx-4">
      <input type="text" class="form-control" placeholder="Enter your coupon code">
    </div>
    <div class="apply my-2">Apply coupon</div>
  </div>
  <div class="dropdown-divider mb-3"></div>
  <div class="text-right mb-5">
    <span class="mr-sm-5">Order amount:</span>
    <span class="h5 text-primary font-weight-semi-bold">$ {{getTotal()}}</span>
  </div>
  <div class="d-block d-sm-flex text-center">
    <div class="mb-2">
      <button type="button" class="btn btn-outline-secondary px-4 px-sm-5">
        <span class="h5">CONTINUE SHOPPING</span>
      </button>
    </div>
    <div class="ml-auto">
      <button type="button" class="btn px-gdn-btn-outline btn-lg">NEXT STEP</button>
    </div>
  </div>
</div>
