<form id="regForm" onclick="send()">
  <h1>Alerts/Selection</h1>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">Enter Alert Type:
    <p><input placeholder="Alert Title....." oninput="this.className = ''" name="fname"></p>
    <p><input placeholder="Description......" oninput="this.className = ''" name="lname"></p>
  </div>
  <div class="tab">Contact Info:
    <p><input placeholder="Address......" value="72,Ashoknager,vadapalani,chennai-600118" name="email"></p>
    <p><input placeholder="Phone........" value="987654321" name="phone"></p>
  </div>
  <div class="tab">Confromation:
    <p><input placeholder="Username..." value="Triton IT Solution" name="uname"></p>
    <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
  </div>
  <div style="overflow:auto;">
      <div style="float:left;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      </div>
    <div style="float:right;">

        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>


