<h2 class="text-center">Radar charts</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Charts</a>
    <span class="breadcrumb-item active">Radar</span>
  </nav>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gradient</h5>
        <div #gradientRadarChart class="gradient-radar-chart"></div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Area</h5>
        <div #areaRadarChart class="area-radar-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lines</h5>
        <div #lineRadarChart class="line-radar-chart"></div>
      </div>
    </div>
  </div>
</div>
