<form>
    <!-- service-form -->
    <div class="service-form"style="margin-top: 0em!important;">

        <div class="row">
          <div class="header">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb10 ">


                <div class="col-md-6"><h3 class="adsc"><i class="fa fa-user"></i>  &nbsp;Assign User to School</h3></div>
                <!-- <div class="col-md-6">
                    <a routerLink=" /adduser"class="btn btn-info pull-right" style="    border-radius: 4px;
                  border: 1px #fff solid; padding: 0px 0px 0px 10px;">Add user<span class="arrow"><i class="fa fa-star"></i></span></a>
                </div> -->

            </div><br></div><br>
<div class="card">

    <div class="col-12 col-md-12 mb-3">

                <div class="col-12 col-md-10 mb-3">
                    <div class="form-group">
                          <label>Select School List</label>

                        <label class="control-label sr-only" for="State" >Select School List</label>

                            <select id="select" name="schoolID" class="form-control col-md-8" [(ngModel)]="model.schoolID">
                                <option value="" disabled>Select School List</option>
                                <ng-container  *ngFor="let school of schoollist">
                                <option  value="{{school.id}}"  >{{school.schoolID}} - {{school.schoolName}}</option>
                                </ng-container>

                            </select>

                    </div>
                </div>

                <div class="col-12 col-md-10 mb-3">
                    <div class="form-group">
                          <label>Select User List</label>
                        <label class="control-label sr-only" for="Country">Select User List</label>
                        <div class="select">
                            <select id="select" name="userID" class="form-control col-md-8"  [(ngModel)]="model.userID">
                                <option value="" disabled>Select User List</option>
                                <ng-container  *ngFor="let user of userlist">
                                <option   value="{{user.id}}" >{{user.first_name}} - {{user.email_address}} </option>
                                </ng-container>
                            </select>
                        </div>



                    </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-3"><br><br>
        <div class="col-md-6">
      <button class="btn btn-info btn-lg" name="singlebutton" type="submit" (click) = "check()">Assign user</button>
</div>
</div>
          </div>

        </div>
    </div>

</form>

