<h2 class="text-center">Heat map chart</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Charts</a>
    <span class="breadcrumb-item active">Heat map</span>
  </nav>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Simple</h5>
        <div #heatMapChart class="heatmap-chart"></div>
      </div>
    </div>
  </div>
</div>
