<div class="card mx-auto forgot">
  <div class="card-body">

    <h2 class="card-title text-center mb-5">  <img src="assets/images/cynosure.png"></h2>
    <form>
      <div class="form-group ">
        <label for="Email">Enter Email</label>
        <input #uname  type="Email" class="form-control col-md-8" id="email">
      </div>
      <div class="mt-5 text-center">
        <button type="button" class="btn  btn btn-primary px-gdn-btn mb-3 mr-3" (click) = 'forgotpassword(uname.value)'style="    padding: 10px;
        width: 100%;
        margin-top: 2pc;"  >Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="text-nowrap footer">
    2018 <a routerLink=""style="color:#2e75b6 ;">Cynosure</a> all rights reserved
  </div>
