
  body {
    height: 100%;
  }
.app-login-page {
    height: auto;
    padding: 16px 16px 70px;
}

    .card {
      max-width: 630px;
      margin-top: 100px;
    }
    .card img {
      position: static!important;
      left: 0;
      bottom: 0;
  }
    footer {
      position: absolute;
      left: 50%;
      bottom: 25px;
      transform: translateX(-50%);
    }

    @media screen and (max-width: 768px) {

      .card {
        margin-top: 50px;
        .card-body {
         padding-left: 80px;
          padding-right: 80px;

      }
      footer {
        bottom: 235px;
      }
    }
}
    @media screen and (max-width: 425px) {
      .card {
        margin-top: 0;
      }
        .card-body {
          padding-left: 30px;
          padding-right: 30px;
        }

    }




  .forgot {
    max-width: 630px;
    margin-top: 100px !important;
}
.app-login-page {
    padding: 50px 130px 80px 130px;
}

.text-nowrap {
    white-space: nowrap !important;
}
 .footer {
    position: absolute;
    left: 50%;
    bottom: 25px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer {
    width: 100%;
    float: left;
    background: #222;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    color: #fff;
  }
