<h2 class="text-center">Multi language</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Extra</a>
    <span class="breadcrumb-item active">Multi language</span>
  </nav>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Basic example</h5>
    <div class="form-group">
      <label for="select">Language</label>
      <select class="form-control" id="select" [ngModel]="'en'" (change)="changeLanguage($event)">
        <option [value]="'en'">{{'ENGLISH' | translate}}</option>
        <option [value]="'de'">{{'GERMAN' | translate}}</option>
      </select>
    </div>
    <div #lineChart class="line-chart"></div>
    <div>{{'NODEJS' | translate}}</div>
  </div>
</div>
