<h2 class="text-center">Editor</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Extra</a>
    <span class="breadcrumb-item active">Editor</span>
  </nav>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Editor</h5>
    <quill-editor [(ngModel)]="model"></quill-editor>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Model</h5>
    <pre><code>{{model}}</code></pre>
  </div>
</div>
