<h2 class="text-center">Datepicker</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Components</a>
    <span class="breadcrumb-item active">Datepicker</span>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Basic datepicker</h5>
        <ngb-datepicker #dp [(ngModel)]="basicModel" (navigate)="basicDate = $event.next"></ngb-datepicker>
        <hr/>
        <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013
        </button>
        <hr/>
        <pre>Month: {{ basicDate.month }}.{{ basicDate.year }}</pre>
        <pre>Model: {{ basicModel | json }}</pre>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Range selection</h5>
        <div class="overflow-x-auto">
          <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
          </ngb-datepicker>
        </div>
        <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
        </ng-template>

        <hr>

        <pre>From: {{ fromDate | json }} </pre>
        <pre>To: {{ toDate | json }} </pre>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Datepicker in a popup</h5>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="popupModel" ngbDatepicker #d="ngbDatepicker">
              <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="d.toggle()">
                <i class="material-icons">date_range</i>
              </button>
            </div>
          </div>
        </form>

        <hr/>
        <pre>Model: {{ popupModel | json }}</pre>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Multi month</h5>
        <div class="overflow-x-auto">
          <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"></ngb-datepicker>
        </div>
        <hr/>

        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [displayMonths]="displayMonths" [navigation]="navigation" ngbDatepicker
                     #d2="ngbDatepicker">

              <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="d2.toggle()">
                <i class="material-icons">date_range</i>
              </button>
            </div>
          </div>
        </form>

        <hr/>

        <select class="custom-select" [(ngModel)]="displayMonths">
          <option [ngValue]="1">One month</option>
          <option [ngValue]="2">Two months</option>
        </select>

        <select class="custom-select" [(ngModel)]="navigation">
          <option value="none">Without navigation</option>
          <option value="select">With select boxes</option>
          <option value="arrows">Without select boxes</option>
        </select>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Disabled datepicker</h5>
        <ngb-datepicker [(ngModel)]="disabledModel" [disabled]="disabled"></ngb-datepicker>
        <hr/>
        <button class="btn btn-sm btn-outline-{{disabled ? 'danger' : 'success'}}" (click)="disabled = !disabled">
          {{ disabled ? "disabled" : "enabled"}}
        </button>
      </div>
    </div>
  </div>
</div>
