<div class="service-form col-md-12">

        <div class="row">
          <div class="header">
      
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <h3 class="adsc"> <i class="fa fa-university"></i>  &nbsp;CONTRACTS HISTORY</h3></div>
                  </div>
            <br></div><br> 
            <div class="col">
              <div class="col-md-12">
                <div class="row">
                  <div class="tabl" >
                      <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                          <thead>
                              <tr>
                                  <th>Contract Id</th>
                                  <th>Client ID</th>
                                  <th>Type</th>
                                  <th>Contract</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>View</th>
                              </tr>
                          </thead>
                          <tbody>
                                      <ng-container  *ngFor="let data of pagedata">
                                      <tr colspan="6" data-toggle="collapse" [attr.data-target]="10"  class="accordion-toggle">
                                          <td>Con011</td>
                                          <td id="l1">CLI02</td>
                                          <td id="a1">Full</td>
                                          <td id="pc1">Normal Contract</td>
                                          <td id="pc1">22/10/2018</td>
                                          <td id="pc1">22/10/2028</td>
                                          
                                          <td> <button class="accordion-toggle delete btn mat-button-wrapper btn-sm" data-toggle="collapse" href="#country1"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                          <!-- <td><button type="button" data-toggle="modal"  data-uid="1" class="update btn btn-primary btn-sm"  (click)="edit($event, data)"><i _ngcontent-c6="" class="material-icons m-1 ng-star-inserted">create</i></button></td> 
                                          <td><button type="button" data-toggle="modal" data-target="#delete" data-uid="1" class="delete btn btn-danger btn-sm"  (click)="open($event, data)" ><i _ngcontent-c6="" class="m-1 icon-close"  ></i></button></td> -->
                                      </tr>
                                     
                                      </ng-container>
      
                          </tbody>
                      </table>
                      <div *ngIf="loading" ><div class="loader text-center"></div></div>
      
                      <div class="card-footer p-0">
                      <ngb-pagination [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                              </div>
      
                </div>
                </div>
              </div>
              </div>
      </div>
      </div>
      
    
       
      
      
      
      
      
      
              <div *ngIf="deleteLoading" id="snackbar" class="show">Deleting... Pleaser Wait!</div>
      
    
    
    