<div class="content text-center">
  <img src="/assets/images/user-pages/404-img.png">
  <h2 class="mt-5">Oops!</h2>
  <div>We can’t find the page you are looking for</div>
  <button type="button" class="btn btn-outline-light btn-lg mt-3 mt-lg-5" routerLink="/main/dashboard">GO TO HOME PAGE</button>
</div>
<footer>
  <div class="mb-3 d-flex justify-content-center">
    <a class="mx-2 no-underline" href=""><i class="icon-social-facebook circle-hover px-gdn-icon "></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-pinterest circle-hover px-gdn-icon"></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-twitter circle-hover px-gdn-icon"></i></a>
  </div>
  <div class="text-light text-nowrap">2017 <a class="text-light" routerLink="/">SOFU</a> all rights reserved</div>
</footer>
