@media only screen and (max-width: 600px) and (min-width: 320px)
{

    .btn-info{
        margin-top: -15%!important;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem!important;
}
.modal-dialog {
    max-width: 700px!important;
    margin: 8.75rem auto;
}
.btnsu{
    width: 100%!important;
}
.modal-dialog[_ngcontent-c4] {
    max-width: 800px !important;
    margin: 8.75rem auto;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: px !important;
  line-height: 1.428571;
  vertical-align: top;
  border: 1px solid #ddd;
  text-align: left;
}
.btn-info1 {
    color: #fff;
    background-color: #2e75b600;
   
    box-shadow: none;
    padding: 5px 11px 6px 10px !important;
}