<div class="card mx-auto login">
  <div class="card-body">

      <h2 class="card-title text-center mb-5">  <img src="assets/images/23.jpg"></h2>
    <form>
      <div class="form-group ">
        <label for="email">Email address</label>
        <input #uname  type="email" class="form-control col-md-8" id="email">
      </div>
      <div class="form-group">
        <label for="passwords">Password</label>
        <input #pass type="password" class="form-control col-md-8" id="passwords">
      </div>
      <div class="mt-5 text-center">
          <!-- (click)="trylogin(uname.value,pass.value) -->
        <button  class="btn login btn btn-primary px-gdn-btn mb-3 mr-3" (click) = "trylogin1(uname.value, pass.value)" style="    padding: 10px;
        width: 100%;
        margin-top: 2pc;" >LOGIN</button>
      </div>
      <div class="mt-4 text-center reset">Forgot password? <a routerLink="/forgotpassword">Reset</a></div>
      <!-- <div class="text-center">Don’t have an account? <a routerLink="/register">Sign up</a></div> -->
      <div class="dropdown-divider my-4"></div>
      <!-- <div class="text-center">Or connect with</div>
      <div class="d-flex justify-content-center mt-4">
        <a class="px-gdn-icon mx-2" href="#"><i class="icon-social-facebook"></i></a>
        <a class="px-gdn-icon mx-2" href="#"><i class="icon-social-pinterest"></i></a>
        <a class="px-gdn-icon mx-2" href="#"><i class="icon-social-twitter"></i></a>
        <a class="px-gdn-icon mx-2" href="#"><i class="icon-social-instagram"></i></a>
        <a class="px-gdn-icon mx-2" href="#"><i class="icon-social-skype"></i></a>
      </div> -->
    </form>
  </div>
</div>
<div class="text-nowrap footer">
  2018 <a routerLink=""style="color:#2e75b6 ;">BSS</a> all rights reserved
</div>
<!-- <img src="/assets/images/user-pages/login-img.png"> -->
