<div class="content text-center">
  <div class="title mb-0 mb-lg-5">We are coming soon</div>
  <div class="counter row justify-content-center container-fluid">
    <div>
      <div>{{days}}</div>
      <div>days</div>
    </div>
    <div>
      <div>{{hours}}</div>
      <div>hours</div>
    </div>
    <div>
      <div>{{minutes}}</div>
      <div>minutes</div>
    </div>
    <div>
      <div>{{seconds}}</div>
      <div>seconds</div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-light btn-lg mt-3 mt-lg-5" routerLink="/main/dashboard">Subscribe</button>
</div>
<footer>
  <div class="mb-3 d-flex justify-content-center">
    <a class="mx-2 no-underline" href=""><i class="icon-social-facebook circle-hover px-gdn-icon "></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-pinterest circle-hover px-gdn-icon"></i></a>
    <a class="mx-2 no-underline" href=""><i class="icon-social-twitter circle-hover px-gdn-icon"></i></a>
  </div>
  <div class="text-light text-nowrap">2017 <a class="text-light" routerLink="/">SOFU</a> all rights reserved</div>
</footer>
