
                                <form id="regForm" action="/main/alertmanagement">
                                  <h1>Add Complaints</h1>
                                  <!-- One "tab" for each step in the form: -->
                                  <div class="tab">
                                    <p><input placeholder="Enter Clinet ID" oninput="this.className = ''" name="fname"></p>
                                    <p><input placeholder="Type" oninput="this.className = ''" name="lname"></p>
                                    <p><input placeholder="Title" oninput="this.className = ''" name="lname"></p>
                                    <p><textarea class="textarea" placeholder=" Description......"></textarea></p>
                                    <div class="col-12 form-group ">
                                        <div ng-app="app">
                                            <div ng-controller="fileUploadCtrl">
                                            <B>Image upload</B>
                                            <div>
                                              <div img-upload method="POST" url="webfreaks.in/dummyService"></div>
                                            </div>	
                                            </div>
                                          </div>
                                          </div>
                                  </div>
                                  <div style="overflow:auto;">
                                    <div style="float:right;">
                                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Send Feedback</button>
                                    </div>
                                  </div>
                                  <!-- Circles which indicates the steps of the form: -->
                                 
                                </form>

                                



                                        

                                

              

                         


                              





                               