<h2 class="text-center">Pie charts</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Charts</a>
    <span class="breadcrumb-item active">Pie charts</span>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Custom</h5>
        <div #customPieChart class="custom-pie-chart"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nested</h5>
        <div #nestedPieChart class="nested-pie-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Polar</h5>
        <div #polarChart class="polar-chart"></div>
        <div class="polar-clock-text">Lorem ipsum dolor sit amet, consectetur.</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Doughnut</h5>
        <div #doughnutPieChart class="doughnut-pie-chart"></div>
      </div>
    </div>
  </div>
</div>
